* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bolder; */
}

/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .date_time{
    display: flex;
    margin-top: 20%;
}

.date, .time{
    display: flex;
    margin-left: 50px;
}

.unit::after{
    content: " : ";
    margin-right: 8px;
}

.unit:last-of-type::after{
    content: "";
} */

#date_time{
    display: inline;
    position: relative;
    font-size: 3rem;
    top: 45vh;
    left: 25vw;
    color: rgb(13, 28, 167);
}